.container{
  position: absolute;
  top: 15%;
  width: 100%;
  height: 100%;
}

.top_pic_div{
  width: 100%;
  text-align: center;
}
.top_pic{
  width: 50%;
  background-repeat: repeat-y;
}
.form{
  margin-left: 10%;
  margin-right: 10%;
}
