#container{
  background-image: url("http://cdn.duitang.com/uploads/item/201510/10/20151010002328_B3jYF.jpeg");
  background-repeat: repeat-y;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background-size: cover;
}
